/* MAIN PAGE LAYOUT */
body {
    margin: 0px;
    background-image: url(images/backgroundBody.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
main{
    float: right;
    font-family:sans-serif;
    color: black;
    background-image: url(images/backgroundMain.avif);
    border: 3px solid black;
    margin-right: 1.5%;
    margin-top: 1.5%;
    width: 82.95%;
    height: 725px;
    overflow: auto;
}
main h1{
    text-align: center;
    margin-bottom: 30px;
}
main article{
    margin-left: 20px;
}

/* NAVBAR */
nav ul{
    background-color: rgb(24, 30, 39);
    list-style-type: none;
    padding: 0px;
    margin: 1.5%;
    margin-bottom: 0%;
    margin-top: 1%;
    overflow: hidden;
    border: 3px solid black
}
nav a{
    color:rgb(156, 156, 156);
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
}
nav a:hover{
    color: rgb(255, 255, 255);
}
nav li{
    float: left;
}
.navfirst{
    margin-left: 10px;
}
.navbar{
    font-size: larger;
}
#active{
    color: rgb(255, 255, 255); 
    text-decoration-line: underline;
}

/* ASIDE 1*/
aside{
    float: left;
    font-family: sans-serif;
    background-color: rgb(24, 30, 39);
    border: 3px solid black;
    margin-left: 1.5%;
    margin-top: 1.6%;
    width: 12.1%;
}
aside ul{
    list-style-type: none;
    padding: 0px;
}
aside a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(220 220 220);
}
aside a:hover{
    color: rgb(151, 151, 151);
    text-decoration: underline;
}
#asideHeader{
    color:white;
    margin: 10px;
    padding-bottom: 5px;
    text-align: center;
}

/* ASIDE 2*/
.aside2{
    margin-top: 1.5%;
}

/* FOOTER */
footer{
    height: 55px;
    width: 96.7%;
    margin-top: 790px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0%;
    border: 3px solid black;
    background-color: rgb(24, 30, 39);
    color:white;
    font-family: sans-serif;
}

/* INDEX.HTML */
#indexIMG1{
    float: right;
    height: 240px;
    width: 210px;
    margin-right: 50px;
    margin-top: 10px;
}
#indexIMG2{
    float: right;
    height: 260px;
    width: 290px;
    margin-right: 10px;
    margin-top: 0px;
}
.textHome{
    margin-left: 25px;
    margin-right: 20%;
}
.textHome h3{
    margin-bottom: 0px;
    margin-top: 40px;
}
.textHome p{
    margin-top: 10px;
}
#titleHome{
    margin-top: 30px;
}

/* PROFILE.HTML */
#myprofileIMG1{
    float: right;
    width: 490px;
    height: 680px;
    border: solid 3px black;
    margin-right: 1.25%;
    margin-top: 1.25%;
    margin-left: 2.8%;
}
#myprofileIMG2{
    width: 8.4%;
    border: solid 3px black;
    margin-left: 1.5%;
    height: 286px;
    float: left;
    margin-right: 0.33%;
}
#myprofileIMG3{
    width: 8.4%;
    border: solid 3px black;
    height: 235px;
    float: left;
    margin-top: 51px;
    margin-right: 0.33%;
}
#myprofileIMG4{
    width: 8.4%;
    height: 200px;
    border: solid 3px black;
    float: left;
    margin-top: 86px;
    margin-right: 0.33%;
}
#myprofileIMG5{
    width: 8.4%;
    height: 200px;
    border: solid 3px black;
    float: left;
    margin-top: 86px;
    margin-right: 0.33%;
}
#myprofileIMG6{
    width: 8.4%;
    height: 200px;
    border: solid 3px black;
    float: left;
    margin-top: 86px;
    margin-right: 0.33%;
}
#myprofileIMG7{
    width: 8.4%;
    border: solid 3px black;
    height: 235px;
    float: left;
    margin-top: 51px;
    margin-right: 0.33%;
}
#myprofileIMG9{
    width: 8.3%;
    border: solid 3px black;
    height: 286px;
        float: left;
}
.myprofileBody{
    margin-top: 0px;
    margin-left: 1.5%;
    margin-right: 25px;
    text-align: center;
}
#myprofileList{
    display: inline-block;
    margin: 0px;
    padding-right: 5px;
    text-align: left;
    margin-bottom: 10px;
}
.profileLowertext p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#profileWorkaround{
    margin-bottom: -80px;
}
.myprofileBody h1{
    margin-bottom: 35px;
    font-size: 40px;
}
.myprofileBody h3{
    margin-bottom: 10px;
}
.myprofileBody p{
    margin-top: 0px;
}
#myprofileToptext{
    margin-bottom: 10px;
}

/* DASHBOARD.HTML */
table{
    border: solid 3px black;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#tableTop{
    background-color: rgb(118, 137, 223);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid 3px black;
}
table th{
    border: solid 2px black;
    background-color:rgb(163, 177, 255);
}
table td{
    border: solid 2px black;
    background-color:rgb(255, 255, 255);
    height: 23px;
}
#course, #assessment{
    padding-right: 10px;
    padding-left: 10px;
}
#grade, #weight, #ecs, #finalgrade{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
#courseQ3{
    padding-left: 10px;
    min-width: 226px; 
    text-align: center;
}
#courseQ4{
    min-width: 226px;
    padding-left: 10px;
    text-align: center;
}
#courseOther{
    padding-left: 10px;
    max-width: 200px; 
}
#assessmentQ2{
    padding-right: 10px;
    padding-left: 10px;
    max-width: 150px;
}
#assessmentQ3{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 148px;
}
#assessmentQ4{
    max-width: 148px;
    padding-left: 10px;
    padding-right: 10px;
}
#assessmentOther{
    min-width: 167px;
    padding-left: 10px;
}
.dashboardSummary{
    background-color: rgba(211, 187, 255, 0.85);
    border: 3px solid black;
    margin-left: 0%;
    text-align: center;
    height: 394px;
    margin-bottom: 2%;

}
.dashboardSummary h3{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    font-size: 1.5em;
}
.dashboardSummary h1{
    padding-top: 20px;
    font-size: 2.5em;
}
.dashboardSummary p{
    font-size: 1.2em;
}
.container3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}
.container2 h1{
    margin-top: 13px;
    margin-bottom: 28px;
}
.quarterFour{
    margin-bottom: 0px;
}
.quarterOther{
    margin-bottom: 0px;
}

/* BLOG.HTML */
.blogMain{
    background-color: rgb(111, 131, 219);
}
.blogMain h1{
    margin-top: 0%;
}
.blogMain hr{
    border: solid 1px black;
    margin-top: 0
}
#blogMainHrTop{
    margin-top: -1.1%;
}
#blogMainHrEnd{
    margin-bottom: 0%;
    border: none;
}
.blogMain h3{
    margin-top: 35px;
}
.blogMain p{
    margin: 0%;
    margin-bottom: 8px;
}
#blogIMG{
    float: left;
    height: 100px;
    width: 100px;
    border: solid 2px black;
    margin-right: 20px;
    margin-left: 10px;
}
#blogContent{
    background-color: rgb(192, 201, 255);
    margin: 0%;
}
#blogHeader{
    padding-top: 2.1%;
    font-size: 1.6em;
}
#blogLink a{
    text-decoration: none;
    color: black;
}
#blogLink:hover{
    background-color: rgb(171, 184, 255);
}
/* INDIVDUAL BLOG PAGES */
#blogSubImg{
    width: 656px;
    min-width: 656px;
    height: 656px;
    min-height: 656px;
    border: 3px solid black;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 1%;
}
.blogSubText{
    width: 66%;
    margin-top: 2%;
    font-size: 1.5em;
}
.blogSubText h1{
    background-color: rgb(118, 137, 223);
    margin: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1.5%;
    border: solid 3px black;
    text-align: left
}
.blogSubText h3, .blogSubText p{
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    border: 3px solid black;
    border-top: none;
    background-color: rgb(169, 185, 255);
    font-size: 0.9em;
    padding-left: 2%;
    padding-right: 2%;
}
.blogSubText p{
    border-top: none;
    border-bottom: none;
    font-size: 0.85em;
    text-align: left;
    line-height: 1.4;
}
.blogSubText a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#blogSubBottom{
    border-bottom: 3px solid black;
    text-align: right;
}
#blogSubDisplay{
    display: flex;
    align-items: center;
    margin-left: 1%;
}
#blogSubBackground{
    background-color: rgb(191, 201, 255);
    background-image: none;
}
#blogICTfit{
    padding-bottom: 414px;
}
#blogFeedbackfit{
    padding-bottom: 414px;
}
#blogExperiencefit{
    padding-bottom: 0px;
}
#blogChoicefit{
    padding-bottom: 414px;
}
#blogSWOTfit{
    padding-bottom: 414px;
}
/* FAQ.HTML*/
.faq{
    border: solid 3px black;
    border-bottom: solid 3px black;
    background-color: rgb(204, 211, 255);
    margin: 2%;
    font-size: 18.72px;
}
.faq summary{
    background-color: rgb(163, 177, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7.5px;
}
.faq summary:hover{
    background-color: rgb(139, 156, 255);
}
.faq ol{
    border-top: 2px solid black;
    margin-top: 0px;
}
.faq li{
    margin-top: 13px;
}